@import "variables";
@import "./components/footer.scss";
@import "./components/header.scss";
@import "./components/typography.scss";

//Terminal command for sass watch :--        sass --watch scss/style.scss:style.min.css

html {
    scroll-behavior: smooth;
}
body {
    background-color: $primary-color;
}
a {
    color: $white;
    text-decoration: none;
}
.font-ironclad {
    font-family: $secondary-font;
    letter-spacing: 2px;
}
.font-arial {
    font-family: $primary-font;
}
.btn-white {
    display: inline-block;
    border: solid 3px $primary-color;
    min-width: 185px;
    text-align: center;
    padding: 18px 15px;
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 40px;
    font-size: 24px;
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;
}
.d-flex {
    display: flex;
}
.justify-content-right {
    justify-content: right;
}
.justify-content-center {
    justify-content: center;
}
.border-gold {
    border-color: $secondary-color;
}
.text-left {
    text-align: left;
}
.section-title {
    color: $white !important;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 2px;
    position: relative;
    margin: 50px 0;

    &::after {
        display: block;
        content: "";
        border-top: 2px solid $third-color;
        border-bottom: 2px solid $third-color;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: -10px;
        border-left: 0;
        border-right: 0;
    }
}

// ----------- Home-Hero-section -----------------

.home-hero {
    .banner-image-outet {
        position: relative;
        .banner-logo {
            position: absolute;
            top: 30px;
            z-index: 9;
            left: 6%;
            width: 240px;
        }
    }
    .banner-img {
        width: 100%;
        height: calc(100vh - 390px);
        object-fit: cover;
    }
    .rounded-logo {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        p {
            color: $white;
            font-size: 36px;
            font-weight: 500;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                border: 3px solid $white;
                width: 220px;
                height: 220px;
                border-radius: 15px;
                transform: rotate(45deg);
                left: -50px;
                top: -100px;
            }
        }
    }
    .disc-area {
        text-align: center;
    }
}

.section-hr {
    background-color: $third-color;
    height: 2px;
    width: 100%;
    position: relative;
    margin-top: -4px;

    &::after {
        content: "";
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: $primary-color;
        border: 2px solid $third-color;
        border-radius: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.disc-area {
    width: 100%;
    max-width: 1270px;
    margin: 80px auto;

    h1 {
        color: $white;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 20px;
        @media (max-width: 1400px) {
            font-size: 28px;
        }
        span {
            font-size: 40px;
            font-weight: 600;
            @media (max-width: 1400px) {
                font-size: 32px;
            }
        }
    }
}

.container {
    margin: 0 auto;
}

// ----------- Menu-slider-section -----------------

.menu-slider-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    min-height: 67vh;
    align-items: center;
    @media (max-width: 1400px) {
        min-height: 57vh;
        width: 90%;
        margin: 0 auto;
    }
    .arrows {
        .swiper-button-next,
        .swiper-button-prev {
            top: 50%;
            transform: rotate(175deg);
            &::after {
                color: $secondary-color;
            }
        }
        .swiper-button-next {
            right: -50px;
        }
        .swiper-button-prev {
            left: -50px;
        }
    }
    .menu-card-slider {
        width: 100%;

        .swiper-wrapper {
            justify-content: center;
            .swiper-slide {
                img {
                    width: 100%;
                    height: calc(50vh - -10px);
                    object-fit: cover;
                    @media (max-width: 1400px) {
                        height: calc(50vh - 90px);
                    }
                }
                .menu-title-outer {
                    position: absolute;
                    margin: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-image: linear-gradient(#ffffff00, #0a0a0abf);
                    margin-bottom: 4px;

                    h2 {
                        text-align: center;
                        color: $white;
                        font-size: 36px;
                        @media (max-width: 1400px) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

// ----------- Menu-section -----------------
.menu-bottom-hr {
    margin: 40px 0;
}

.news-section {
    .container {
        position: relative;
    }
    .bg-pattern {
        position: absolute;
        right: 30px;
        width: 395px;
        top: 59%;
        transform: translateY(-50%);
        height: 61%;
        object-fit: cover;
        z-index: -1;
    }
    .news-text {
        h1 {
            margin-top: 0;
            font-family: $secondary-font !important;
            letter-spacing: 2px;
        }
    }
    .news-outer {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 30px;
        h3 {
            font-weight: 400;
        }
        .news-img {
            text-align: center;
            img {
                height: 250px;
                width: 245px;
                object-fit: cover;
                @media (max-width: 1400px) {
                    height: 180px;
                    width: 175px;
                }
            }
        }
    }
    .menu-bottom-hr {
        margin: 40px 0;
    }
}

// ----------- Work at section -----------------

.work-at-section {
    .work-gallery-line {
        position: relative;
        z-index: 9;
        width: 100%;
        margin: 90px 0px;
        @media (max-width: 1400px) {
            margin: 32px 0px;
        }

        .work-line {
            position: absolute;
            z-index: 9;
            left: 0;
            right: 0;
            top: 45%;
            transform: translateY(-100%);
            z-index: -1;
            margin: 0 auto;
            display: inline-block;
            text-align: center;
            hr {
                border-color: #b0854a;
                border-width: 1px;
                border-style: solid;
                margin: 40px auto;
                width: 100%;
            }
            &:before {
                content: "";

                height: 2px;
                background: #b0854a;
                display: inline-block;
                position: absolute;
                top: 0;
                width: 85%;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            &:after {
                content: "";

                height: 2px;
                background: #b0854a;
                display: inline-block;
                position: absolute;
                bottom: 0;
                z-index: -1;
                width: 85%;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
        }

        .work-gallery {
            display: flex;
            justify-content: center;
            gap: 45px;
            width: 70%;
            margin: 0 auto;
        }
    }
    .menu-bottom-hr {
        margin: 50px 0;
    }
    .gallery-img-box {
        max-width: 338px;
        width: 268px;
        img {
            width: 100%;
            height: 340px;
            object-fit: cover;
            @media (max-width: 1400px) {
                height: 250px;
            }
        }

        h3 {
            text-align: center;
            color: #fff;
            width: 100%;
            margin: 25px auto;
            font-family: $secondary-font;
            letter-spacing: 3px;
            font-weight: 600;
        }
    }
    .work-apply-outer {
        display: flex;
        min-height: 66vh;
        align-items: center;
        @media (max-width: 1400px) {
            min-height: 56vh;
        }
        .work-apply-disc {
            gap: 100px;
            display: flex;
            .disc-area {
                text-align: left;
                margin: 0;
                h1 {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            .btn-white {
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }
}

// ----------- Work at section -----------------

.disc-and-img-wrapper {
    min-height: 67vh;
    align-items: center;
    @media (max-width: 1400px) {
        min-height: 56vh;
    }
}
.disc-and-img-outer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 50px;
    @media (max-width: 1400px) {
        grid-template-columns: 70% 26%;
    }
    .reserveren-text {
        .disc-area {
            @media (max-width: 1400px) {
                width: 86%;
            }
        }
    }
    .disc-area {
        margin: 0;
        h1,
        p {
            font-size: 32px;
            line-height: 36px;
            font-weight: 400;
            font-family: $primary-font;
            color: $white;
            @media (max-width: 1400px) {
                font-size: 26px;
                line-height: 30px;
            }
        }
    }
    .btn-white {
        margin-top: 20px;
    }
    .book-logo-area {
        display: flex;
        align-items: end;
        height: 500px;
        @media (max-width: 1400px) {
            height: 430px;
        }
        .book-logo {
            position: absolute;
            right: -50px;
            margin-bottom: 130px;
            img {
                @media (max-width: 1400px) {
                    width: 300px;
                }
            }
        }
    }
}

.to-book-section {
    .fp-overflow {
        overflow-x: hidden;
    }
}

.reserveren-sec {
    .disc-and-img-outer {
        display: flex;
        gap: 50px;
    }
}

.disc-area p,
.news-text p {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    font-family: $primary-font;
    color: $white;
    @media (max-width: 1400px) {
        font-size: 26px;
        line-height: 30px;
    }
}

// ----------- Gift card section -----------------

.gift-card-section {
    .gift-card-outer {
        display: grid;
        grid-template-columns: 35% 62%;
        grid-column-gap: 50px;
        min-height: 67vh;
        align-items: center;
        @media (max-width: 1400px) {
            min-height: 57vh;
            grid-template-columns: 35% 62%;
        }
        .disc-area {
            margin: 0;
            h1,
            p {
                font-size: 32px;
                line-height: 36px;
                font-weight: 400;
                font-family: $primary-font;
                color: $white;
                @media (max-width: 1400px) {
                    font-size: 26px;
                    line-height: 30px;
                }
            }
        }
        .gif-img {
            position: relative;
            .bg-pattern {
                width: 100%;
                height: 100%;
                @media (max-width: 1400px) {
                    height: 420px;
                }
            }
            .middle-img {
                position: absolute;
                left: 0;
                width: 250px;
                height: 320px;
                object-fit: cover;
                right: 0;
                margin: 0 auto;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 1400px) {
                    width: 190px;
                    height: 240px;
                }
            }
        }
        .btn-white {
            margin-top: 50px;
        }
    }
}

.green-angel-section {
    .angel-logo-area {
        .book-logo {
            @media (max-width: 1400px) {
                text-align: right;
            }
        }
        .d-flex.justify-content-center {
            @media (max-width: 1400px) {
                justify-content: right !important;
            }
        }
        img {
            width: 330px;
            margin-bottom: 80px;
            @media (max-width: 1400px) {
                width: 250px;
                margin-bottom: 40px;
            }
        }
    }
}
.fp-overflow {
    overflow-x: hidden;
}

// ----------- Contact section -----------------

.contact-section {
    .container {
        flex-direction: column;
        .section-title {
            width: max-content;
        }
    }
    .contact-form-outer {
        min-height: 67vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .gform-body {
        .gfield_label {
            color: $white;
            font-family: $primary-font;
            font-size: 24px !important;
        }
        input {
            background-color: transparent;
            font-family: $primary-font;
            border: 0;
            border-bottom: 1px solid $secondary-color;
            box-shadow: none;
            font-size: 24px !important;
            color: $white !important;
            outline: none;
            font-style: italic;
        }
        input::placeholder {
            color: $white;
            font-style: italic;
        }
        .gfield {
            margin-bottom: 20px;
        }
        .gchoice {
            .gfield-choice-input {
                zoom: 2;
                cursor: pointer;
                margin-right: 5px;
            }
            label {
                color: $white;
                font-style: italic;
                font-size: 24px !important;
                font-family: $primary-font;
            }
        }
    }
    .gform_button {
        display: inline-block;
        border: solid 3px $secondary-color;
        min-width: 185px;
        text-align: center;
        padding: 18px 15px;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 40px;
        font-size: 24px;
        color: $primary-color;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        font-family: $secondary-font;
        letter-spacing: 2px;
    }
    .gform_wrapper .gfield_error [aria-invalid="true"] {
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
}

.hero-social {
    position: absolute;
    top: 30px;
    right: 6%;
    .social-icons {
        a {
            background-color: $third-color;
        }
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
        width: 50px;
        height: 50px;
        display: block;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        img {
            width: 23px;
            filter: invert(1);
        }
        &:first-child {
            img {
                width: 30px;
            }
        }
    }
}
.fp-watermark {
    display: none !important;
}

//-----CSS for inner pages

.inner-section {
    padding-top: 50px;
    .menu-slider-wrapper,
    .disc-and-img-wrapper,
    .gift-card-outer,
    .contact-form-outer {
        min-height: auto;
    }
    .work-gallery-line {
        margin: 30px 0;
    }
    .menu-bottom-hr {
        margin: 80px 0;
    }
}

.menu-no-content {
    height: 400px;
    width: 1110px;
}

//------news--pagination css

.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border: 1px solid $white;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    &.current {
        background-color: $white;
    }
    &:hover {
        background-color: $white;
        color: $primary-color;
    }
}

//------impression-section css

.impression-section {
    // margin: 80px 0 0 0;
    .impression-img-outer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        width: 100%;
        margin: 50px 0px 20px;
        .impression-img {
            height: calc(100vh - 63vh);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
