// Colors
$black: #000;
$white: #FFF;
$primary-color:#1C2C3B;
$secondary-color:#B0854A;
$third-color:#AA8E58;

$fontlocation: '/wp-content/themes/pe-theme-child/scss/fonts/';
$imagesLocation: '/wp-content/themes/pe-theme-child/images/'; 


$primary-font: 'Arial';
$secondary-font: 'Ironclad';
$alifia-font: 'Alifia';