.not-found-section {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    .not-found-container{
        .not-found{
            width: 100%;
            text-align: center;
            h1{
                font-size: 120px;
                font-family: $secondary-font;
            }
            p{
                font-size: 38px;
                $primary-font: 'Arial';
                color: $white;
            }
        }
    }
    .button-set {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px 0px;
        .btn-white{
            font-family: $secondary-font;
            letter-spacing: 2px;
        }
        .text-link {
            margin-top: 0px;
            margin-left: 24px;
            background-color: $secondary-color;
            font-family: $secondary-font;
            letter-spacing: 2px;
        }
    }
   
}
