.container-grid {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-column-gap: 50px;
    align-items: center;
}

.footer-section {
    background-color: $secondary-color;
    justify-content: center;
    .fp-tableCell {
        height: auto !important;
    }
    footer {
        padding: 20px 20px 20px 0;
        .footer-logo {
            img {
                width: 100%;
                margin-left: -80px;
            }
        }
        .footer-address {
            h2 {
                font-size: 34px;
                color: $primary-color;
                text-transform: uppercase;
                margin-bottom: 20px;
                margin-top: 0;
            }
            ul {
                padding: 0;
                margin: 0 0 30px;
                list-style: none;
                li {
                    margin-bottom: 5px;
                    font-size: 20px;
                    color: $primary-color;
                    font-family: $primary-font;
                    &:first-child {
                        font-weight: bold;
                    }
                    img{
                        width: 20px;
                        vertical-align: text-top;
                    }
                    a{
                        color: $primary-color;
                        transition: all 0.5s ease;
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .footer-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}




