/* Alifia - latin */
@font-face {
    font-family: "Alifia";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local(""), url($fontlocation + "Alifia.woff2") format("woff2"),
        url($fontlocation + "Alifia.woff") format("woff");
}

/* Ironclad Light - latin */
@font-face {
    font-family: "Ironclad";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: local(""), url($fontlocation + "Ironclad-Light.woff") format("woff"),
        /* Modern Browsers */ url($fontlocation + "Ironclad-Light.woff2") format("woff2"); /* Safari, Android, iOS */
}

/* Ironclad Regular - latin */
@font-face {
    font-family: "Ironclad";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local(""), url($fontlocation + "Ironclad_Regular.woff") format("woff"),
        /* Modern Browsers */ url($fontlocation + "Ironclad-Regular.woff2") format("woff2"); /* Safari, Android, iOS */
}


h1 {
    font-size: 40px;
    line-height: 44px;
    font-family: $secondary-font;
    color: $white;

    @media (max-width: 1400px) {
        font-size: 32px;
        line-height: 36px;
    }
}
h2 {
    font-size: 36px;
    line-height: 40px;
    font-family: $primary-font;
    color: $white;
    @media (max-width: 1400px) {
        font-size: 28px;
        line-height: 32px;
    }
}
h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    font-family: $primary-font;
    color: $white;
    @media (max-width: 1400px) {
        font-size: 26px;
        line-height: 30px;
    }
}
h4 {
    font-size: 28px;
    line-height: 32px;
    font-family: $primary-font;
    color: $white;
}
h5 {
    font-size: 24px;
    line-height: 28px;
    font-family: $primary-font;
}
h6 {
    font-size: 22px;
    line-height: 26px;
    font-family: $primary-font;
}
